# Two Sigma: Rental Interest Competition

In [1]:
import datetime
import itertools
import json
import operator
import os
import pandas as pd
import pprint
import numpy as np
import re
import spacy
import torch

from collections import Counter, deque

from utils.data import load_training_test_data
from utils.dataframe import (
    categories_from_column,
    column_list_to_category_flags,
    count_ngrams_up_to_n,
    map_categorical_column_to_category_ids,
    normalize_categories,
    remap_column,
    remap_date_column_to_days_before,
    remove_small_or_stopwords_from_ranking
)

nlp = spacy.load("en")

Check GPU support

In [2]:
torch.cuda.is_available()

True

## 1) Load data

In [3]:
(TRAIN_DATAFRAME, TEST_DATAFRAME) = \
  load_training_test_data(os.path.join('data', 'train.json'),
                          os.path.join('data', 'test.json'))

## 2) Data Cleaning

Let's see what this table looks like. We'll display the head of the table which shows its features

In [4]:
TRAIN_DATAFRAME.head()

,id,bathrooms,bedrooms,building_id,created,description,display_address,features,latitude,listing_id,longitude,manager_id,photos,price,street_address,interest_level
0,4,1.0,1,8579a0b0d54db803821a35a4a615e97a,2016-06-16 05:55:27,Spacious 1 Bedroom 1 Bathroom in Williamsburg!...,145 Borinquen Place,"[Dining Room, Pre-War, Laundry in Building, Di...",40.7108,7170325,-73.9539,a10db4590843d78c784171a107bdacb4,[https://photos.renthop.com/2/7170325_3bb5ac84...,2400,145 Borinquen Place,medium
1,6,1.0,2,b8e75fc949a6cd8225b455648a951712,2016-06-01 05:44:33,BRAND NEW GUT RENOVATED TRUE 2 BEDROOMFind you...,East 44th,"[Doorman, Elevator, Laundry in Building, Dishw...",40.7513,7092344,-73.9722,955db33477af4f40004820b4aed804a0,[https://photos.renthop.com/2/7092344_7663c19a...,3800,230 East 44th,low
2,9,1.0,2,cd759a988b8f23924b5a2058d5ab2b49,2016-06-14 15:19:59,**FLEX 2 BEDROOM WITH FULL PRESSURIZED WALL**L...,East 56th Street,"[Doorman, Elevator, Laundry in Building, Laund...",40.7575,7158677,-73.9625,c8b10a317b766204f08e613cef4ce7a0,[https://photos.renthop.com/2/7158677_c897a134...,3495,405 East 56th Street,medium
3,10,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],40.7145,7211212,-73.9425,5ba989232d0489da1b5f2c45f6688adc,[https://photos.renthop.com/2/7211212_1ed4542e...,3000,792 Metropolitan Avenue,medium
4,15,1.0,0,bfb9405149bfff42a92980b594c28234,2016-06-28 03:50:23,Over-sized Studio w abundant closets. Availabl...,East 34th Street,"[Doorman, Elevator, Fitness Center, Laundry in...",40.7439,7225292,-73.9743,2c3b41f588fbb5234d8a1e885a436cfa,[https://photos.renthop.com/2/7225292_901f1984...,2795,340 East 34th Street,low

### 2.1) Cleaning up categories

Let's clean up the categories and put them into a sensible vector. Unfortunately the categories are a bit of a mess - since the user can specify what categories they want there isn't much in the way of consistency between categories.

Some of the patterns that we frequently see in the categories are:
 - Separating category names with "**"
 - Mix of caps/nocaps
 - Some common themes, such as:
   - "pets"
   - "office"
   - "living room"
   - "garden"
   - "common area"
   - "storage"
   - "no pets"
   - "parking"
   - "bicycle"
   - "doorman"
   - etc

To deal with this, lets pull out all of the categories and normalize them
by removing excess punctuation, normalizing for whitespace, lowercasing, and counting for certain n-grams.

In [5]:
normalized_categories = sorted(normalize_categories(categories_from_column(TRAIN_DATAFRAME, 'features')))
normalized_categories[:50]

['$1000. move in visa giftcard will be handed to new tenants upon rental lease signing',
 '$1500. move in visa giftcard will be handed to new tenants upon rental lease signing',
 '$250 application fee with background and credit check. board interview and approval.',
 '$250 security deposit',
 '$500 security deposit',
 '$600 gift card for move ins prior to june 19',
 '000 sf fitness center',
 '000 sq. ft. landscaped terrace complete with an organic garden',
 '000 square foot exclusive courtyard oasis for via residents',
 '000 square foot sun deck• free wifi in marc club',
 '1 br or conv 2',
 "1 mo broker's fee 18 mo lease",
 '1 month free',
 '1 month free',
 '1 month free',
 '1 month free rent',
 '1.5 bath',
 '1.5 bathrooms',
 '1.5 baths',
 '1.5 baths',
 '1.5 marble baths',
 '1/2 bath',
 '1/2 month fee',
 '1100 sq ft',
 '1200sq ft',
 '12th st 3rd ave',
 '1st',
 '2',
 '2 bathrooms',
 '2 beautifully furnished outside sundecks',
 '2 bedroon convertible',
 '2 blocks away from union square',
 '2 full bathrooms',
 '2 full baths',
 '2 months free',
 '2 queen bedrooms',
 '2 story tenant lounge',
 '2 year lease',
 '22',
 '24 hour attended lobby',
 '24 hour attended lobby',
 '24 hour concierge',
 '24 hour concierge and doorman',
 '24 hour doorman',
 '24 hour doorman',
 '24 hour doorman',
 '24 hour doorman concierge',
 '24 hour parking garage with an electric vehicle charging station.',
 '24 hr concierge',
 '24 hr doorman']

Now that we have our slightly tidied up categories, we can create some n-grams and count their frequency

In [6]:
most_common_ngrams = sorted(count_ngrams_up_to_n(" ".join(normalized_categories), 3).most_common(),
                            key=lambda x: (-x[1], x[0]))
most_common_ngrams[:50]

[('', 6421),
 ('in', 122),
 ('kitchen', 121),
 ('to', 90),
 ('room', 85),
 ('home', 65),
 ('of', 63),
 ('fee', 62),
 ('and', 59),
 ('no', 57),
 ('the', 57),
 ('private', 56),
 ('super', 56),
 ('2br', 54),
 ('new', 50),
 ('on', 49),
 ('2', 48),
 ('massive', 48),
 ('windows', 45),
 ('share', 44),
 ('sprawling', 44),
 ('no fee', 42),
 ('park', 42),
 ('storage', 42),
 ('pets', 41),
 ('ok', 40),
 ('bldg', 39),
 ('deck', 38),
 ('l', 37),
 ('laundry', 37),
 ('all', 35),
 ('huge', 33),
 ('eat', 32),
 ('eat in', 32),
 ('in kitchen', 32),
 ('oversized', 32),
 ('parking', 32),
 ('renovated', 32),
 ('roof', 32),
 ('3br', 31),
 ('blks', 31),
 ('blks to', 31),
 ('free', 31),
 ('on site', 30),
 ('site', 30),
 ('doorman', 29),
 ('super share', 29),
 ('with', 29),
 ('1br', 28),
 ('closets', 28)]

There's quite a few words here that don't add much value. We can remove them by consulting a list of stopwords

In [7]:
most_common_ngrams = sorted(list(remove_small_or_stopwords_from_ranking(most_common_ngrams, nlp, 3)),
                            key=lambda x: (-x[1], x[0]))
most_common_ngrams[:50]

[('kitchen', 121),
 ('room', 85),
 ('home', 65),
 ('fee', 62),
 ('private', 56),
 ('super', 56),
 ('2br', 54),
 ('new', 50),
 ('massive', 48),
 ('windows', 45),
 ('share', 44),
 ('sprawling', 44),
 ('no fee', 42),
 ('park', 42),
 ('storage', 42),
 ('pets', 41),
 ('bldg', 39),
 ('deck', 38),
 ('laundry', 37),
 ('huge', 33),
 ('eat', 32),
 ('eat in', 32),
 ('in kitchen', 32),
 ('oversized', 32),
 ('parking', 32),
 ('renovated', 32),
 ('roof', 32),
 ('3br', 31),
 ('blks', 31),
 ('blks to', 31),
 ('free', 31),
 ('on site', 30),
 ('site', 30),
 ('doorman', 29),
 ('super share', 29),
 ('1br', 28),
 ('closets', 28),
 ('included', 27),
 ('large', 27),
 ('steps', 27),
 ('studio', 27),
 ('bedford', 26),
 ('bedford l', 26),
 ('floor', 26),
 ('lounge', 26),
 ('pets ok', 26),
 ('steps to', 26),
 ('clean', 25),
 ('terrace', 25),
 ('train', 25)]

Now that we have these, we can probably take 100 most common and arrange
them into category flags for our table

In [8]:
TRAIN_DATAFRAME = column_list_to_category_flags(TRAIN_DATAFRAME, 'features', list(map(operator.itemgetter(0), most_common_ngrams[:100])))
TEST_DATAFRAME = column_list_to_category_flags(TEST_DATAFRAME, 'features', list(map(operator.itemgetter(0), most_common_ngrams[:100])))

In [9]:
TRAIN_DATAFRAME.head(5)

,id,bathrooms,bedrooms,building_id,created,description,display_address,features,latitude,listing_id,...,features_in_unit,features_l_stop,features_stop,features_true,features_views,features_details,features_dryer,features_elev/lndry,features_elev/lndry_bldg,features_gut
0,4,1.0,1,8579a0b0d54db803821a35a4a615e97a,2016-06-16 05:55:27,Spacious 1 Bedroom 1 Bathroom in Williamsburg!...,145 Borinquen Place,"[Dining Room, Pre-War, Laundry in Building, Di...",40.7108,7170325,...,0,0,0,0,0,0,0,0,0,0
1,6,1.0,2,b8e75fc949a6cd8225b455648a951712,2016-06-01 05:44:33,BRAND NEW GUT RENOVATED TRUE 2 BEDROOMFind you...,East 44th,"[Doorman, Elevator, Laundry in Building, Dishw...",40.7513,7092344,...,0,0,0,0,0,0,0,0,0,0
2,9,1.0,2,cd759a988b8f23924b5a2058d5ab2b49,2016-06-14 15:19:59,**FLEX 2 BEDROOM WITH FULL PRESSURIZED WALL**L...,East 56th Street,"[Doorman, Elevator, Laundry in Building, Laund...",40.7575,7158677,...,1,0,0,0,0,0,0,0,0,0
3,10,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],40.7145,7211212,...,0,0,0,0,0,0,0,0,0,0
4,15,1.0,0,bfb9405149bfff42a92980b594c28234,2016-06-28 03:50:23,Over-sized Studio w abundant closets. Availabl...,East 34th Street,"[Doorman, Elevator, Fitness Center, Laundry in...",40.7439,7225292,...,0,0,0,0,0,0,0,0,0,0

### 2.2) Cleaning up listing_date

We can also do something useful with the listing date - it may be better to say how many days ago the property was listed - older properties are probably going to get a lot less interest than newer properties.

In [10]:
TRAIN_DATAFRAME = remap_date_column_to_days_before(TRAIN_DATAFRAME, "created", "created_days_ago", datetime.datetime(2017, 1, 1))
TEST_DATAFRAME = remap_date_column_to_days_before(TEST_DATAFRAME, "created", "created_days_ago", datetime.datetime(2017, 1, 1))

In [11]:
TRAIN_DATAFRAME["created_days_ago"].head(5)

0    198
1    213
2    200
3    190
4    186
Name: created_days_ago, dtype: int64

### 2.3) Cleaning up interest_level

Right now the interest level is encoded on a scale of "Low, Medium, High". Since these are related to each other on a number line, we can convert these to floting point numbers on a scale between 0-1.

In [12]:
TRAIN_DATAFRAME = remap_column(TRAIN_DATAFRAME, "interest_level", "float_interest_level", lambda x: {
    "low": 0.0,
    "medium": 0.5,
    "high": 1.0
}[x])
# The TEST_DATAFRAME does not have an interest_level column, so we
# instead add it and replace it with all zeros
TEST_DATAFRAME["float_interest_level"] = 0.0

In [13]:
TRAIN_DATAFRAME["float_interest_level"].head(5)

0    0.5
1    0.0
2    0.5
3    0.5
4    0.0
Name: float_interest_level, dtype: float64

### 2.4) Cleaning up building_id, manager_id

`building_id` and `manager_id` look a bit useless to us on the outside, but according to https://www.kaggle.com/den3b81/some-insights-on-building-id they are actually quite predictive of interest since 20% of the manager make up 80% of the rentals (we can also see this in their writing style as well).

Since there aren't too many managers or buildings in total, we can convert these into category ID's where we'll pass them through an embedding later on.

Note that we need to do this over both dataframes - since there could
be some managers that are in the test dataframe which are not in the training dataframe and vice versa.

In [14]:
(BUILDING_ID_TO_BUILDING_CATEGORY,
 BUILDING_CATEGORY_TO_BUILDING_ID,
 TRAIN_DATAFRAME,
 TEST_DATAFRAME) = map_categorical_column_to_category_ids(
    TRAIN_DATAFRAME,
    TEST_DATAFRAME,
    'building_id',
    'building_id_category'
)

In [15]:
(MANAGER_ID_TO_MANAGER_CATEGORY,
 MANAGER_CATEGORY_TO_MANAGER_ID,
 TRAIN_DATAFRAME,
 TEST_DATAFRAME) = map_categorical_column_to_category_ids(
    TRAIN_DATAFRAME,
    TEST_DATAFRAME,
    'manager_id',
    'manager_id_category'
)

### 2.5) Drop unnecessary columns

Now that we have made our data nicer to work with, we can drop all the inconvenient to work with columns.

In [35]:
DROP_COLUMNS = [
    'id',
    'building_id',
    'description',
    'features',
    'display_address',
    'listing_id',
    'manager_id',
    'photos',
    'street_address',
    'interest_level',
]
TRAIN_DATAFRAME = TRAIN_DATAFRAME.drop(DROP_COLUMNS, axis=1)
# TEST_DATAFRAME doesn't have interest_level, so we remove it
# from the DROP_COLUMNS
TEST_DATAFRAME = TEST_DATAFRAME.drop(DROP_COLUMNS[:-1], axis=1)

In [36]:
TRAIN_DATAFRAME.head(5)

,bathrooms,bedrooms,created,latitude,longitude,price,street_address,features_kitchen,features_room,features_home,...,features_views,features_details,features_dryer,features_elev/lndry,features_elev/lndry_bldg,features_gut,created_days_ago,float_interest_level,building_id_category,manager_id_category
0,1.0,1,2016-06-16 05:55:27,40.7108,-73.9539,2400,145 Borinquen Place,0,1,0,...,0,0,0,0,0,0,198,0.5,6083,2767
1,1.0,2,2016-06-01 05:44:33,40.7513,-73.9722,3800,230 East 44th,0,0,0,...,0,0,0,0,0,0,213,0.0,8417,2565
2,1.0,2,2016-06-14 15:19:59,40.7575,-73.9625,3495,405 East 56th Street,0,0,0,...,0,0,0,0,0,0,200,0.5,9344,3458
3,1.5,3,2016-06-24 07:54:24,40.7145,-73.9425,3000,792 Metropolitan Avenue,0,0,0,...,0,0,0,0,0,0,190,0.5,3797,1568
4,1.0,0,2016-06-28 03:50:23,40.7439,-73.9743,2795,340 East 34th Street,0,0,0,...,0,0,0,0,0,0,186,0.0,8717,790